<section>
  <div class="row">
    <div class="col">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Recipe Name</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">To Shopping List</a></li>
          <li><a href="#" class="dropdown-item">Edit Recipe</a></li>
          <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <article class="row">
    <div class="col">
      <h3>Description</h3>
    </div>
  </article>
  <article class="row">
    <div class="col">
      <h3>Ingredients</h3>
    </div>
  </article>
</section>